<div class="room-head">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-name">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="room-main">
  <div class="rooms">
    <div class="room-name">
      <a href="#">新規チャットルーム</a>
    </div>
  </div>
  <div class="rooms">
    <div class="room-name">
      <a href="#">新規チャットルーム2</a>
    </div>
  </div>
</div>